<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử giao dịch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Lịch sử giao dịch</h2>
    <h3>Tiền ra</h3>
    <table class="container">
        <thead>
        <tr>
            <th>Ngày giao dịch</th>
            <th>Số tiền</th>
            <th>Cây ATM</th>
            <th>Xuất hóa đơn</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tr:${withdrawlTransactions}">
            <td th:text="${#temporals.format(tr.getTransaction().getAt_date(), 'yyyy-MM-dd')}"></td>
            <td th:text="'- '+${tr.getTransaction().getAmount()}"></td>
            <td th:text="${tr.getTransaction().getAtm().getLocation()}"></td>
            <td th:text="${#strings.toString(tr.isHave_invoice())}"></td>
        </tr>
        </tbody>
    </table>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------</p>
    <table class="container">
        <thead>
        <tr>
            <th>Ngày giao dịch</th>
            <th>Số tiền</th>
            <th>Cây ATM</th>
            <th>Tin nhắn</th>
            <th>Tài khoản nhận</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tr:${transferTransactions}">
            <td th:text="${#temporals.format(tr.getTransaction().getAt_date(), 'yyyy-MM-dd')}"></td>
            <td th:text="'- '+${tr.getTransaction().getAmount()}"></td>
            <td th:text="${tr.getTransaction().getAtm().getLocation()}"></td>
            <td th:text="${tr.getMessage()}"></td>
            <td th:text="${tr.getAccount().getCustomer().getCus_name()}"></td>
        </tr>
        </tbody>
    </table>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <h3>Tiền vào</h3>
    <table class="container">
        <thead>
        <tr>
            <th>Ngày giao dịch</th>
            <th>Số tiền</th>
            <th>Tin nhắn</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tr:${earnMoneyTransactions}">
            <td th:text="${#temporals.format(tr.getTransaction().getAt_date(), 'yyyy-MM-dd')}"></td>
            <td th:text="'+ '+${tr.getTransaction().getAmount()}"></td>
            <td th:text="${tr.getMessage()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>