<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật nhân viên quản lý</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Cập nhật nhân viên quản lý</h2>
    <form method="post" th:action="@{'/update-manager/'+${manID}}">
        <div class="form-group">
            <label for="manID">Mã quản lý</label>
            <input name="manID" id="manID" class="form-control" type="text" th:value="${uptManID}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Tên quản lý</label>
            <input name="name" id="name" class="form-control" type="text" th:value="${manager.getMan_name()}" >
        </div>
        <div class="form-group">
            <label for="phone">Số diện thoại</label>
            <input name="phone" id="phone" class="form-control" type="text" th:value="${manager.getPhone()}" >
        </div>
        <div class="form-group">
            <label for="status">Trạng thái</label>
            <select class="form-control" id="status" name="status">
                <option value="0">STOPPED</option>
                <option value="1">ACTIVATED</option>
                <option value="2">TERMINATED</option>
            </select>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-success">Xác nhận cập nhật</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>